.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;
  flex-direction: column;
  height: calc(100vh - 5.6rem);
  background-color: #101010;
  background-image: url('/images/camada-banner.png');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;

  h1 {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3.3rem;
    text-align: center;

    span {
      font-size: 3rem;
    }
  }
}

