* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;

  --green-500: #6b9f07;
  --gray-800: #2c2c2c;
  --gray-500: #595959;
  --gray-300: #f2f3f9;
}

@media (max-width: 64rem) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 45rem) {
  html {
    font-size: 87.5%;
  }
}

html {
  scroll-behavior: smooth !important;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Archivo', sans-serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  padding: 6rem max(calc((100% - 90rem) / 2), 2rem);
}

@media (max-width: 48rem) {
  section {
    padding: 6rem max(calc((100% - 90rem) / 2), .5rem);
  }
}

.button {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  width: 18.75rem;
  height: 4.19rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3125rem solid var(--white);
  color: var(--white);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:hover {
    color: var(--black);
  }

  &:after {
    content: '';
    background: var(--white);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s;
  }

  &:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.title {
  display: block;
  font-size: 2.8rem;
  color: var(--gray-500);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

.subtitle {
  font-size: 2.25rem;
  color: var(--green-500);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media (max-width: 48rem) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}
