.footer {
  width: 100%;
  padding: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  p {
    font-size: 1.2rem;
    font-weight: 700;
  }

  div {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 700;

    a {
      font-weight: 400;
      white-space: nowrap;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 83rem) {
  .footer {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 55rem) {
  .footer {
    div {
      flex-direction: column;
    }
  }
}
